
.rainbow{
    margin-top: -50vh;
    height: 300vh;
    background: radial-gradient(circle at 79.84% -14%, #c0e0d5 0, #bee1d8 3.85%, #bce1db 7.69%, #bbe1df 11.54%, #bae1e2 15.38%, #bae0e5 19.23%, #bae0e8 23.08%, #bbdfea 26.92%, #bddfed 30.77%, #c0deef 34.62%, #c2ddf0 38.46%, #c6dcf1 42.31%, #c9dbf2 46.15%, #cddaf2 50%, #d1d9f2 53.85%, #d5d8f1 57.69%, #d9d7f0 61.54%, #ddd6ee 65.38%, #e1d5ec 69.23%, #e5d4ea 73.08%, #e8d3e7 76.92%, #ebd2e4 80.77%, #eed2e1 84.62%, #f0d1de 88.46%, #f2d1db 92.31%, #f3d1d7 96.15%, #f4d1d4 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    
    }
    
.gradient{
    // content:'';
    position: sticky;
    top: 0;
    bottom: -1vh;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(160deg, rgba(255,255,255,0.2)40%, #21D4FD 90%);
}

.nav{
    height: 40vw;
    width: 40vw;
    position: sticky; 
    top: 25%;
    padding-bottom: 20%;
    margin-top: 15vh;
    left:30%;
    display: flex;
    align-content:flex-start;
    z-index:2 ;
}

.circle {
    height: 40vw;
    width: 40vw;
    position: absolute ; 
    border-color: #ddf7fc;
    box-shadow:  0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgba(255, 255, 255),0px 0px 20px #228dff3f, 0px 0px 25px #228dff62, 0px 0px 30px #228dff6b, 0px 0px 5px rgb(255, 255, 255) inset, 0px 0px 10px rgba(255, 255, 255) inset,0px 0px 20px #228dffad inset, 0px 0px 25px #228dffb1 inset, 0px 0px 30px #228dff9a inset ;
    
   
}
.circle1 {
    border-radius: 43% 45% 40% 42%;
    animation: wave 10s infinite reverse;   
    border: 2px solid #fff;
    
    

}
.circle2 {
    border-radius: 43% 45% 40% 42%;
    animation: wave 10s infinite linear;
    border: 2px solid #fff;



}
.circle3 {
    border-radius: 40% 48% 45% 50%;
    animation: wave 12s infinite reverse;
    border: 2px solid #fff;

}
.circle4 {
    border-radius: 43% 45% 40% 42%;
    animation: wave 11s infinite linear;
    border: 2px solid #fff;

}
 .circle5 {
     border-radius: 44% 50% 39% 47%;
     animation: wave 13s  infinite reverse;
     border: 2px solid #fff;
 }

@keyframes wave {
    0% { transform: rotate(0deg) scale(1, 1);}
    50% { transform: rotate(180deg) scale(0.95, 0.95);}
    100% { transform: rotate(360deg) scale(1,1);}

}

  
.nav{
    .dote { 
        height: 25px;
        width: 25px;
        display: flex;
        content: '';
        background-color: white;
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(250,250,250,0.9743853993823747) 82%, rgba(255,255,255,0.5998600123643207) 100%);
        border-radius: 50%;
        border-color: #ddf7fc;
        box-shadow: 
                    0px 0px 10px rgb(255, 255, 255), 
                    0px 0px 20px rgb(255, 255, 255),
                    0px 0px 20px rgb(255, 255, 255),
                    0px 0px 20px rgb(255, 255, 255),
                    0px 0px 20px #228dff3f, 
                    0px 0px 25px #228dff62, 
                    0px 0px 30px #228dff6b;
        
                }
    .miniIsland{
        
        display: flex;
        visibility: hidden;
        height: 50px;
        width: 50px;
        display: flex;
        left: -51%;
        top: -31%;
    

    }
}

.img1{
    /* transform: translate(50%); */
    position: absolute;
    left: 47%;
}
.img2{
    position: absolute;
    left: 1%;
    top: 19%;
}
.img2:hover .miniIsland{
    visibility: visible;
    opacity: 1;
}
.img3{
    position: absolute;
    right: 1%;
    top: 19%;
}
.img3:hover .miniIsland{
    visibility: visible;
    opacity: 1;
}
.img4{
    position: absolute;
    right: 14%;
    top: 58%;
}
.img5{
    position: absolute;
    left: 14%;
    top: 58%;
}