* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}
html {
  scrollbar-width: none;
  width: 100vw;
  scroll-behavior: smooth;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 2;
}
main {
  height: 0vh;
}
.slice {
  color: gray;
  background-color: #1c1c24;
  display: grid;
  width: 100vw;
  height: 50vh;
  opacity: 1;
}
.slice1 {
  display: flex;
  font-size: 5.5rem;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0px;
}
.slice1 p {
  position: relative;
  bottom: 1 vh;
}
.slice2 {
  font-size: 40px;
  justify-content: center;
  position: fixed;
  bottom: 0px;
}
.slice2 p {
  position: relative;
  margin-top: 3vh;
  margin-left: 20px;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .slice2 p {
    margin-left: 0;
  }
}
@media only screen and (max-width: 529px) {
  .slice2 p {
    margin-left: 0;
  }
}
.slice2 .material-icons {
  align-self: center;
  justify-content: center;
  display: flex;
}
.grain {
  content: "";
  display: block;
  background: url(../public/img/filter/cardboard.png);
  height: inherit;
  width: inherit;
  position: sticky;
  top: 0;
  bottom: 0vh;
}
.title,
.title2 {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  font-size: 5vw;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .title,
  .title2 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 529px) {
  .title,
  .title2 {
    font-size: 7vw;
  }
}
.red {
  color: #cd3c32;
  font-size: 50px;
}
