* {
  margin: 0;
  padding: 0;
}
html {
  scrollbar-width: none;
  width: 100vw;
  scroll-behavior: smooth;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  /* display: grid; */
  /* grid-template-rows: 50 50; */
  z-index: 1;
}
.slice1 {
  font-size: 5.5rem;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0px;
}
.slice2 {
  font-size: 40px;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;
}
.slice {
  color: gray;
  background-color: #1c1c24;
  display: grid;
  width: 100vw;
  height: 50vh;
  opacity: 1;
}
.slice2 > p {
  margin-left: 40vh;
  margin-right: 10vh;
}
main {
  height: 0vh;
}

