* {
  margin: 0;
  padding: 0;
}
html {
  scrollbar-width: none;
  width: 100vw;
  scroll-behavior: smooth;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 2;
}
.slice1 {
  font-size: 5.5rem;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0px;
}
.slice2 {
  font-size: 40px;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;
}
.slice {
  color: gray;
  background-color: rgb(28, 28, 36);
  display: grid;
  width: 100vw;
  height: 50vh;
  opacity: 1;
}
.slice2 > p {
  margin-left: 40vh;
  margin-right: 10vh;
}

main {
  height: 0vh;
}

.parallax {
  height: 140vh;
  width: 100vw;
  background-image: url("../public/img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: -7;
}
.grain {
  content: "";
  display: block;
  background: url(../public/img/filter/cardboard.png);
  height: inherit;
  width: inherit;
  position: sticky;
  top: 0;
  bottom: -0vh;
}
