.water{
    width: 100vw;
    height: 350vh;
    background: rgb(165,14,7);
    background: linear-gradient(180deg, #a50e07  13%, rgba(0,166,187,1) 49%, rgba(108,187,203,1) 77%, rgba(161,209,220,1) 85%, rgba(244,183,168,1)100%);
    z-index: -1;
    position: relative; 
}
.parallaxWater{
    position: relative;
    top: 150vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.waterline1{
    // margin-top: 4vh;
    width: 100vw;
    display: flex;
    justify-content: center;
 
    *{
        transition: transform 250ms;
    }
    *:hover{
        img{
            transform: translateY(-30px);
            z-index: 5;}

        .icon{
            filter: grayscale(0%);
            transform: translateY(-30px);
        }
    }
    .icon{
        filter: grayscale(100%);
        z-index: 6;
    }
    // .icon:hover{
    //     filter: grayscale(0%);

    // }
}  
.waterline2{
    // margin-top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    opacity: 0.3;
    position: relative;
}
.waterline3{
    margin-top: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    opacity: 0.1;
    position: relative;
}